* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


/*COLORS
color-primary:#ce367c;
color-primary-light:#f0c2d8;
color-black:#000;
color-white:#fff;
color-lightgrey:#DCDCDC;
color-lightgrey-2:#f2f2f2;
color-darkgrey:#808080;
color-darkgrey-2:#191919;
color-yellow:#f2cf0d;
*/

 :root {
    --color-primary: #0b4494;
    --color-primary-light: #f0c2d8;
    --color-black: #000;
    --color-white: #fff;
    --color-lightgrey: #dcdcdc;
    --color-lightgrey-2: #f2f2f2;
    --color-darkgrey: #808080;
    --color-darkgrey-2: #191919;
    --color-yellow: #f2cf0d;
}

body {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 350;
    font-size: 1.6rem;
    line-height: 1.3;
    color: #777;
    background: linear-gradient(45deg, rgb(67, 25, 87), hsl(235, 39%, 33%));
}

.header_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: -15rem;
}

.header_logo {
    height: 11rem;
    width: auto;
}

.header_main-nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1;
    flex: 0 0 1;
    margin: 5rem 2rem 0 0;
}

.header_main-nav li {
    margin-left: 4rem;
}

.header_main-nav li a:link,
.header_main-nav li a:visited {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.6rem;
    color: #ec5c5c;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.4s;
    transition: border-bottom 0.4s;
}

.header_main-nav li a:hover,
.header_main-nav li a:active {
    border-bottom: 2px solid var(--color-primary);
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a5a5a5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(116, 116, 116);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fa {
    padding-right: 5px;
}

.checkbtn {
    font-size: 30px;
    color: tomato;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.row-writeup .column-writeup {
    float: left;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.0rem;
    text-decoration: none;
    color: white;
    text-align: justify;
    width: 40%;
}

.column-writeup1 {
    float: left;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.0rem;
    text-decoration: none;
    color: white;
    text-align: justify;
    width: 45%;
}

.row-writeup:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column-writeup {
        width: 100%;
    }
}

.writeup {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 100px;
    margin-right: 150px;
    font-size: 2.0rem;
}

.content h1 {
    text-align: center;
    color: darkgoldenrod;
    font-size: 4.0rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-decoration-color: darkturquoise;
}

.column {
    float: left;
    width: 30%;
    padding-left: 7rem;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.0rem;
    text-decoration: none;
    color: chocolate;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#footer {
    background-color: #0e0229;
    margin-top: 5px;
}

.social-media .fa {
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    padding-right: 20px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: cyan;
    border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
    .header_main-nav li {
        margin-left: 25px;
    }
    .content h1 {
        font-size: 3.0rem;
    }
    .column-writeup img {
        width: 350px;
    }
    .column-writeup1 {
        margin-left: 50px;
    }
    .column {
        font-size: 1.5rem;
    }
    .social-media .fa {
        font-size: 25px;
        width: 35px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .header_main-nav li {
        margin-left: 15px;
    }
    .content h1 {
        font-size: 3.0rem;
    }
    .column-writeup {
        width: 100%;
    }
    .column-writeup1 {
        width: 100%;
        margin-left: 10px;
    }
    .column {
        font-size: 1.5rem;
    }
    .social-media .fa {
        font-size: 25px;
        width: 35px;
        padding-right: 5px;
    }
}